{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="auth">
        <div class="card">
            <div class="auth__header text-center">
                <a href="{% url 'jobs:jobs' %}">
                    <img src="{% static 'img/icon.svg' %}" alt="icon"/>
                </a>
                <h3>Parolamı Değiştir</h3>
            </div>

            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {% for error in form.non_field_errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="{{ field.formInput }}">{{ field.label }}</label>
                        {{ field|add_class:'input input-text' }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Parolamı Değiştir"/>
                    <a href="{% url 'account_reset_password' %}">Parolanızı mı unuttunuz?</a>
                </div>
            </form>
        </div>
    </div>
{% endblock %}