{% extends 'base.html' %}
{% load static %}

{% load widget_tweaks %}

{% block content %}
    <div class="auth">
        <div class="card">
            <div class="auth__header text-center">
                <a href="{% url 'jobs:jobs' %}">
                    <img src="{% static 'img/icon.svg' %}" alt="icon"/>
                </a>
                <h3>Register an Account</h3>
                <p>Create a new account</p>
            </div>

            <form method="post" action="{% url 'account_signup' %}" class="form auth__form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form__field">
                        <label for="{{ field.formInput }}">{{ field.label }}</label>
                        {{ field|add_class:'input input-text' }}
                        {% for error in field.errors %}
                            <span class="text-danger">{{ error }}</span>
                        {% endfor %}
                    </div>
                {% endfor %}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <div class="auth__actions">
                    <input class="btn btn--sub btn--lg" type="submit" value="Sign Up"/>
                </div>
            </form>
            <div class="auth__alternative">
                <p>Already have an Account? <a href="{% url 'account_login' %}">Log In</a></p>
            </div>
        </div>
    </div>

{% endblock %}